
// navbar style start

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background-color: aqua;
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        list-style-type: none;
        li{
            a{
                text-decoration: none;
            }
        }
    }
}
// navbar style end

// card style start
.card{
    padding: 10px;
    min-height: 200px;
    .card-header{
        width: 100%;
        height: 100px;
        background-color: #999;
    }
}
// card style end